
  <!-- <h1> {{ $ctrl.overall.boxofficeType }}</h1>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{ $ctrl.overall.boxofficeType }} ( {{$ctrl.overall.showRange}}) </h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="item in $ctrl.boxofficeList">
        <li><a ui-sref="boxoffice.detail({name: item.movieNm})" uib-tooltip="{{item.movieNm}}">{{item.rank}}, {{item.movieNm}} <button type="button" class="close" ng-click="$ctrl.getDetail(item.movieNm)">&times;</button></a></li>
      </ul>
    </div>
  </div> -->



<p> Here I am </p>
<p> {{$ctrl.phrases[0]['phrase']}} </p>
<md-card ng-repeat="phrase in $ctrl.phrases">
 <!-- <img class="md-card-image" alt="image caption" src="card-image.png"> -->
 <md-card-content>
   <h2> {{phrase['phrase']}}</h2>
   <p> {{phrase['desc']}}</p>
 </md-card-content>
 <md-card-footer>
   Card footer
 </md-card-footer>
</md-card>

<!-- <ui-view> </ui-view> -->